* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    height: 6vh;
    align-items: center;
}

header h3 {
    font-size: 24px;
    color: #F9FAF8;
}


header ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

li {
    list-style: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    width: 450px;
    height: auto;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 130px;
    padding-bottom: 90px;
    background-color: #1F2937;
}

.introleft, .introright {
    width: 35%;
}

.introleft {
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    
    
}

.introleft h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: Roboto;
}

.introleft p {
    font-size: 18px;
    color: #E5E7Eb;
}

.introleft button {
    width: 100px;
    padding: 7px 0;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    border: none;
}

.infocontainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 350px;
    align-items: center;
    padding-bottom: 50px;
}

.infocontainer > div {
    width: 15%;
}

.infocontainer img {
    width: 100%;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.info h2 {
    text-align: center;
    padding: 50px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    
}